In [9]:
import yfinance as yf

symbol = yf.Ticker("MSFT")

# get stock info
symbol.info

{'regularMarketPrice': None, 'preMarketPrice': None, 'logo_url': ''}

In [10]:
# get historical market data
hist = symbol.history(period="max")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.055380,0.063524,0.055380,0.060809,1031788800,0.0,0.0
1986-03-14,0.060809,0.064067,0.060809,0.062980,308160000,0.0,0.0
1986-03-17,0.062980,0.064609,0.062980,0.064067,133171200,0.0,0.0
1986-03-18,0.064067,0.064610,0.061894,0.062437,67766400,0.0,0.0
1986-03-19,0.062437,0.062980,0.060809,0.061351,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2022-12-12,247.449997,252.539993,247.169998,252.509995,30665100,0.0,0.0
2022-12-13,261.690002,263.920013,253.070007,256.920013,42196900,0.0,0.0
2022-12-14,257.130005,262.589996,254.309998,257.220001,35410900,0.0,0.0
2022-12-15,253.720001,254.199997,247.339996,249.009995,35560400,0.0,0.0
2022-12-16,248.550003,249.839996,243.509995,244.690002,86088100,0.0,0.0

In [11]:
# show actions (dividends, splits)
symbol.actions

            Dividends  Stock Splits
Date
1987-09-21       0.00           2.0
1990-04-16       0.00           2.0
1991-06-27       0.00           1.5
1992-06-15       0.00           1.5
1994-05-23       0.00           2.0
...               ...           ...
2021-11-17       0.62           0.0
2022-02-16       0.62           0.0
2022-05-18       0.62           0.0
2022-08-17       0.62           0.0
2022-11-16       0.68           0.0

[85 rows x 2 columns]

In [12]:
# show dividends
symbol.dividends

Date
2003-02-19    0.08
2003-10-15    0.16
2004-08-23    0.08
2004-11-15    3.08
2005-02-15    0.08
              ...
2021-11-17    0.62
2022-02-16    0.62
2022-05-18    0.62
2022-08-17    0.62
2022-11-16    0.68
Name: Dividends, Length: 76, dtype: float64

In [13]:
# show splits
symbol.splits

Date
1987-09-21    2.0
1990-04-16    2.0
1991-06-27    1.5
1992-06-15    1.5
1994-05-23    2.0
1996-12-09    2.0
1998-02-23    2.0
1999-03-29    2.0
2003-02-18    2.0
Name: Stock Splits, dtype: float64

In [16]:
# show financials
symbol.financials
symbol.quarterly_financials

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [17]:
# show major holders
symbol.major_holders

        0                                      1
0   0.06%        % of Shares Held by All Insider
1  72.30%       % of Shares Held by Institutions
2  72.34%        % of Float Held by Institutions
3    5976  Number of Institutions Holding Shares

In [19]:
# show institutional holders
symbol.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",634238715,2022-09-29,0.0851,155191872721
1,Blackrock Inc.,518843676,2022-09-29,0.0696,126955860347
2,State Street Corporation,295509547,2022-09-29,0.0396,72308231776
3,"FMR, LLC",204088395,2022-09-29,0.0274,49938389870
4,Price (T.Rowe) Associates Inc,171346779,2022-09-29,0.0230,41926843771
5,"Geode Capital Management, LLC",139462260,2022-09-29,0.0187,34125020739
6,Morgan Stanley,104765804,2022-09-29,0.0141,25635144836
7,Capital World Investors,97528997,2022-09-29,0.0131,23864370514
8,JP Morgan Chase & Company,92745324,2022-09-29,0.0124,22693853555
9,Capital International Investors,84987239,2022-09-29,0.0114,20795527718

In [20]:
# show balance sheet
symbol.balance_sheet
symbol.quarterly_balance_sheet

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [21]:
# show cashflow
symbol.cashflow
symbol.quarterly_cashflow

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [22]:
# show earnings
symbol.earnings
symbol.quarterly_earnings

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [23]:
# show sustainability
symbol.sustainability

In [24]:
# show analysts recommendations
symbol.recommendations

In [25]:
# show next event (earnings, etc)
symbol.calendar

In [26]:
# show all earnings dates
symbol.earnings_dates

KeyError: 'exchangeTimezoneName'

In [27]:
# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
symbol.isin

'US5949181045'

In [28]:
# show options expirations
symbol.options

('2022-12-23',
 '2022-12-30',
 '2023-01-06',
 '2023-01-13',
 '2023-01-20',
 '2023-01-27',
 '2023-02-17',
 '2023-03-17',
 '2023-04-21',
 '2023-06-16',
 '2023-07-21',
 '2023-09-15',
 '2024-01-19',
 '2024-06-21',
 '2025-01-17')

In [29]:
# show news
symbol.news

[{'uuid': '687b0823-47b0-3da9-b34e-10995cc14b36',
  'title': 'Microsoft Prepares to Go to Battle With FTC Over Activision Deal',
  'publisher': 'The Wall Street Journal',
  'link': 'https://finance.yahoo.com/m/687b0823-47b0-3da9-b34e-10995cc14b36/microsoft-prepares-to-go-to.html',
  'providerPublishTime': 1671292440,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/IEvtkANuzuqbcqHugQg2mA--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/wsj.com/2f26ee1012f66892985ccdc7a95fcc79',
     'width': 1280,
     'height': 640,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/8JNL3bfYf8Z_bX6X_9bkIw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/wsj.com/2f26ee1012f66892985ccdc7a95fcc79',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['ATVI', 'MSFT']},
 {'uuid': '8e4350c0-0b0e-3f27-9a3e-c840e23b16ca',
  'title': 'What Does 2023 Have in Store for Growth Stocks, Electric Vehicles, and More?',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/8e4350c0-0b0e-3f27-9a3e-c840e23b16ca/what-does-2023-have-in-store.html',
  'providerPublishTime': 1671291900,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/zI2CUFn_lulyITKMWWRmPA--~B/aD0xMDgwO3c9MTkyMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/motleyfool.com/670591ee10dc55220264f805c4f46734',
     'width': 1920,
     'height': 1080,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/X3rq2ZH9bTtwq42Pt.iReQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/670591ee10dc55220264f805c4f46734',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT', 'DOCU', 'ATVI', 'HLI']},
 {'uuid': 'a6598a65-f2e9-3851-af89-c09383dc67a1',
  'title': "Stock Market Rally Suffers Ugly Outside Week; Here's What To Do Now",
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/a6598a65-f2e9-3851-af89-c09383dc67a1/stock-market-rally-suffers.html',
  'providerPublishTime': 1671282801,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/nHQGWPLJI9QjM9l8YPHpMA--~B/aD01NjM7dz0xMDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/009acc302529f3fe18d9b07a5c7e5a51',
     'width': 1000,
     'height': 563,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/L4fCiPNju38YAXEU2X288g--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/009acc302529f3fe18d9b07a5c7e5a51',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['^GSPC',
   '^DJI',
   'COMP',
   '^RUT',
   'TSLA',
   'NVDA',
   'MSFT',
   'GOOGL']},
 {'uuid': '1ee112ba-d047-3609-bd2a-54d84ae81507',
  'title': "Should You Follow Warren Buffett's Lead and Buy Activision Blizzard Stock?",
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/1ee112ba-d047-3609-bd2a-54d84ae81507/should-you-follow-warren.html',
  'providerPublishTime': 1671277500,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/QzMN0FtBqasdckmKDw4sQg--~B/aD00ODA7dz03MjA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/motleyfool.com/c7d1a8e798de512328cc159dc38ac856',
     'width': 720,
     'height': 480,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/4kugT2Fpn3_71Qsy9M4pHA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/c7d1a8e798de512328cc159dc38ac856',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['ATVI', 'MSFT']},
 {'uuid': '5b00c670-733a-3aa4-84e9-55a42b17e486',
  'title': 'Edge Computing Market Leaders and Best Stocks to Buy',
  'publisher': 'Insider Monkey',
  'link': 'https://finance.yahoo.com/news/edge-computing-market-leaders-best-235627246.html',
  'providerPublishTime': 1671234987,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/V_W97Fnw_ZznKBh8kqe3Jw--~B/aD0yNDk7dz00MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/insidermonkey.com/57adcb1044456c5f62ce5e41ce5bf36a',
     'width': 400,
     'height': 249,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/W2NO41UPEvA_KfaLoLxJ8A--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/insidermonkey.com/57adcb1044456c5f62ce5e41ce5bf36a',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['NET', 'HPE', 'DELL', 'IBM', 'ANET', 'GOOGL', 'MSFT']},
 {'uuid': '05b74972-c27d-34a3-818b-9cb7b735d5c3',
  'title': 'Weekly Round Up',
  'publisher': 'TheStreet.com',
  'link': 'https://finance.yahoo.com/m/05b74972-c27d-34a3-818b-9cb7b735d5c3/weekly-round-up.html',
  'providerPublishTime': 1671232380,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/83LM0WMldS7AiNNkkW8GmA--~B/aD04MDA7dz0xMjAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/thestreet.com/13c9b08fbebc7bbb6021b1437ccb854f',
     'width': 1200,
     'height': 800,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/m_Ay.hfuoqkAETYHMPvC8A--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/thestreet.com/13c9b08fbebc7bbb6021b1437ccb854f',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['VZ', 'LMT', 'MSFT', '^GSPC', 'AAPL', 'F']},
 {'uuid': 'c67b4708-3129-32b4-8523-6119514c1d1c',
  'title': 'Microsoft President on Investing in Africa',
  'publisher': 'Bloomberg',
  'link': 'https://finance.yahoo.com/video/microsoft-president-investing-africa-193502304.html',
  'providerPublishTime': 1671219302,
  'type': 'VIDEO',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/A4xRFAe.UNNL3vfZvZI2zQ--~B/aD03MjA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/bloomberg_politics_video_969/a0dcd5b57d8a536b128d466b4a94e6dc',
     'width': 1280,
     'height': 720,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/ePmgTjhgNpFmzvgD2hhGNQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/bloomberg_politics_video_969/a0dcd5b57d8a536b128d466b4a94e6dc',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']},
 {'uuid': 'cbdf4384-35c9-3151-83b0-4d0f072859f9',
  'title': 'Analyst Report: Microsoft Corporation',
  'publisher': 'Argus Research',
  'link': 'https://finance.yahoo.com/m/cbdf4384-35c9-3151-83b0-4d0f072859f9/analyst-report%3A-microsoft.html',
  'providerPublishTime': 1671212358,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/SVKRhvYIgdoUv2HlogaP.A--~B/aD0wO3c9MDthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/uc/fin/img/non-sub-report-thumb.png',
     'width': 0,
     'height': 0,
     'tag': 'original'}]},
  'relatedTickers': ['MSFT']}]

In [37]:
# get option chain for specific expiration
opt = symbol.option_chain('2023-01-20')
# data available via: opt.calls, opt.puts
opt.calls

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,MSFT230120C00105000,2022-12-13 15:33:36+00:00,105.0,142.55,137.55,141.95,-12.199997,-7.883681,1,129,1.039067,True,REGULAR,USD
1,MSFT230120C00110000,2022-11-18 15:56:41+00:00,110.0,130.60,135.20,137.75,0.000000,0.000000,1,1293,1.622560,True,REGULAR,USD
2,MSFT230120C00115000,2022-11-14 17:56:23+00:00,115.0,127.92,130.30,132.85,0.000000,0.000000,1,98,1.560793,True,REGULAR,USD
3,MSFT230120C00120000,2022-12-16 20:43:56+00:00,120.0,127.68,122.50,127.00,-14.870003,-10.431429,26,664,0.882814,True,REGULAR,USD
4,MSFT230120C00125000,2022-11-11 20:27:28+00:00,125.0,122.13,120.35,122.80,0.000000,0.000000,2,100,1.409671,True,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,MSFT230120C00470000,2022-11-10 14:44:37+00:00,470.0,0.03,0.00,0.05,0.000000,0.000000,20,675,0.707034,False,REGULAR,USD
71,MSFT230120C00480000,2022-11-15 15:15:57+00:00,480.0,0.02,0.00,0.09,0.000000,0.000000,1,1073,0.765627,False,REGULAR,USD
72,MSFT230120C00490000,2022-11-08 15:21:30+00:00,490.0,0.01,0.00,0.01,0.000000,0.000000,10,1188,0.656253,False,REGULAR,USD
73,MSFT230120C00500000,2022-12-06 15:10:11+00:00,500.0,0.01,0.00,0.01,0.000000,0.000000,10,2179,0.671878,False,REGULAR,USD
74,MSFT230120C00520000,2022-11-14 20:37:34+00:00,520.0,0.01,0.00,0.01,0.000000,0.000000,200,6080,0.718753,False,REGULAR,USD